.container .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; z-index: 2;
    margin: 0 20px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.body {
    background-color: silver;
}
.h1{
 position: fixed;

}
